audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 50px;
}
body {
    background-color: #ffd700;
    text-align: center;
    color: black;
	font: 14px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	text-align: center;
    transition: background-color 1s;
	}
	
div, h1, h2, p {
    margin: 0;
    padding: 0;
}
	
#poem { 
    margin: auto;
    padding: 20px 0;
    text-align: left;
    width: 80%;
}

h1, h2 {
    font-weight: normal;
    text-align: center;
    }
    
h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
    }

h2 {
    color: black;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
    }
    
p {
    line-height: 1.5;
    margin-bottom: 15px;
    }

/* The magic of selectors begins... */

h2:before {
    content: '\2014';
    }

h2:after {
    content: '\2014';
    }

#poem h2 + p:first-letter {
        float: left;
        font-size: 38px;
        line-height: 1;
        margin: 2px 5px 0 0;
    }
    
#poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
    }

#poem p:last-child {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

#pdf{
    text-decoration: none;
    width: 100%;
    margin: auto;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#knight{
    color: #F51720;
}

#btnContainer{
    width:40%;
    margin:auto;
}

.weak-mode {
    background-color: #a9bbb7;
}

.strong{
    color: #F51720;
}

.weak{
    color: black;
}